<question-countdown enabled="game.questionEndTime && !game.solution" until="game.questionEndTime" total="game.question.time" on-end="game.lockAnswers()"></question-countdown>

<div class="question" ng-show="game.question">
	<div class="question-body">{{ game.question.question }}</div>
	<div class="question-answers">
		<button type="button" class="question-answer" ng-disabled="!game.answeringEnabled"
				ng-class="{ 'question-answer--chosen': game.chosenAnswer === answer.id, 'question-answer--correct': game.solution.correctAnswer === answer.id, 'question-answer--wrong': game.chosenAnswer === answer.id && game.solution.solved === false }"
				ng-repeat="answer in game.question.answers" ng-click="game.answer(answer.id)" >
			{{ answer.answer }}
		</button>
	</div>
</div>

<div class="no-question" ng-show="!game.question">
	<img src="assets/loading.svg" alt="Waiting for next question..." class="no-question__spinner">
	<p>Waiting for next question</p>
</div>

<div class="player-info">
	<h1 class="player-info__name">{{ game.player.username }}</h1>
	<div class="player-info__lvl">Lvl. {{ game.level }}</div>
	<exp-bar class="player-info__expbar" exp="game.player.exp" level="game.player.level" level-delayed="game.level"></exp-bar>
</div>