<!DOCTYPE html>
<html ng-app="lvlup.admin" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LVLUP-GAME</title>
	<link rel="stylesheet" href="/shared/shared.min.css">
	<link rel="stylesheet" href="admin.min.css">
</head>
<body ng-controller="AdminController as admin" ng-cloak>

	<header>
		<h1 class="header__title">Admin Interface</h1>
		<div class="header__actions">
			<button ng-click="admin.endGame()">End Game</button>
			<button ng-click="admin.resetGame()">Reset Game</button>
		</div>
	</header>

	<div class="questions box">
		<div class="box-header">
			<h2>Questions</h2>
			<div class="box-header__actions">
				<button ng-click="admin.endQuestion()">End current question</button>
			</div>
		</div>
		<div class="question-upload"
				ngf-drop ngf-select
				ngf-change="admin.addQuestions($file)"
				ng-model="uploadedQuestions"
				accept="application/json" ngf-pattern="'application/json'"
				ngf-drag-over-class="'drag'"
				ng-class="{ 'question-upload--error': admin.uploadError }">
			Click to upload or drag'n'drop questions here
		</div>
		<div class="question" ng-repeat="(id,q) in admin.questions" ng-click="admin.setQuestion(id)">
			<!-- TODO: Icon for type, Exp -->
			<h3 class="question__title">{{::q.question}}</h3>
			<span class="question__exp">{{::q.exp}} exp</span>
			<!-- <ul>
				<li>{{::q.answer}}</li>
				<li ng-repeat="answer in ::q.wrongAnswers">{{ answer }}</li>
			</ul> -->
		</div>
	</div>

	<div class="players box">
		<div class="box-header">
			<h2>Players</h2>
			<div class="box-header__actions">
				<span class="players__count">{{admin.players.length}}</span>
			</div>
		</div>
		<ul class="playerlist">
			<li ng-repeat="player in admin.players | orderBy:'-totalExp'">
				<h2 class="player__username">{{::player.username}}</h2>
				<div class="player__info">Lvl. {{::player.level}} + {{::player.exp}} exp ({{::player.totalExp}} exp)</div>
			</li>
		</ul>
		<div class="noplayers" ng-if="!admin.players.length">
			No players joined yet.
		</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="libs.min.js"></script>

	<script src="/shared/templates.min.js"></script>
	<script src="/shared/shared.min.js"></script>

	<script src="admin.min.js"></script>
</body>
</html>