.players {
	margin: 1em;
}

.player {
	display: flex;
	align-items: flex-end;
	padding: 0.4em 0.6em;
}

.player:nth-child(even) {
	background-color: #EEE;
}

.player__stats {
	flex: 0 0 auto;
}

.player-stats__correct {
	color: $success-color;
}

.player-stats__wrong {
	color: $error-color;
}

.player-stats__noanswer {
	color: $gray-text;
}

.player__info {
	flex: 1;
}

.players__count {
	color: $gray-text;
}

.playerlist {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

.player__username {
	font-size: 1rem;
	font-weight: 300;
	margin: 0 0 0.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.player__exp {
	color: $gray-text;
}

.noplayers {
	text-align: center;
	margin: 1em;
	color: $gray-text;
}
