.players {
	margin: 1em;
	vertical-align: top;
	max-width: 500px;
	width: 40%;
}

.player {
	display: flex;
	align-items: flex-end;
}

.player__stats {
	flex: 0 0 auto;
}

.player-stats__correct {
	color: $success-color;
}

.player-stats__wrong {
	color: $error-color;
}

.player-stats__noanswer {
	color: $gray-text;
}

.player__info {
	flex: 1;
}

.players__count {
	color: $gray-text;
}

.playerlist {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

.player__username {
	font-size: 1rem;
	font-weight: 300;
	margin: 0.6em 0 0.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.player__exp {
	color: $gray-text;
}

.noplayers {
	text-align: center;
	margin: 1em;
	color: $gray-text;
}