
.icon-choice:before { content: '\e800'; } /* '' */
.icon-text:before { content: '\e801'; } /* '' */
.icon-correct:before { content: '\e802'; } /* '' */
.icon-wrong:before { content: '\e803'; } /* '' */
.icon-noanswer:before { content: '\e804'; } /* '' */