.expbar {
	height: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 3px 3px;
	box-shadow: 1px 1px 2px #999 inset;
}

.expbar__bar {
	display: block;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;
	transition: width 1s ease-out;
	box-shadow: 1px 1px 2px #999;
	width: 0;
}
.expbar__bar--jump {
	transition: none;
}