.keepscreenon {
	position: relative;
	transition: all 1s ease-in;
	opacity: 1;
	top: 0;
}

.keepscreenon--enabled {
	top: -2rem;
	opacity: 0;
}

.keepscreenon__video {
	display: none;
	width: 200px;
	height: 200px;
	position: static;
}

.keepscreenon__button--hidden {
	visibility: hidden;
}

.keepscreenon__button {
	display: block;
	line-height: 2.5;
	margin: 0 auto;
	background: none;
	border: none;
	color: #999;
	width: 100%;
}

.keepscreenon__button--enabled {
	top: -2rem;
	opacity: 0;
}