$playerinfo-bg: $darkblue;

.player-info {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: $playerinfo-bg;
	color: white;
	box-shadow: 0 0 4px $playerinfo-bg;
	padding: 0.4rem 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-info__name {
	font-size: 1em;
	font-weight: 300;
}

.player-info__lvl {
	flex: 0 0 40px;
	text-align: center;
}

#svg #exp-bar {
	stroke: #ff9F1E;
}
#svg circle {
	stroke-dashoffset: 150;
	transition: stroke-dashoffset 1s linear;
	stroke: #666;
	stroke-width: 4px;
}