$playerinfo-bg: $accent-color;

.player-info {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: $playerinfo-bg;
	color: white;
	box-shadow: 0 0 4px $playerinfo-bg;
	padding: 0.4rem 0.8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.player-info__name {
	font-size: 1em;
	font-weight: 300;
	margin: 0;
	flex: 1 1 0;
}

.player-info__lvl {
	flex: 0 0 auto;
	text-align: right;
}

.player-info__expbar {
	flex: 1 1 100%;
	margin: 0.4em 0 0.2em;
}