$correct-color: #4CAF50;
$wrong-color: #F44336;

.question {
	padding: 1.3rem 1rem;
	text-align: center;
}

.question-body {
	line-height: 1.5;
	font-weight: 500;
	padding-bottom: 2rem;
}

.question-answers {
	// border-top: 1px solid #AAA;
	margin: 0;
	padding: 0 0.6em;
	list-style: none;
}

$answer-text-color: #000;

.question-answer {
	display: block;
	appearance: none;
	width: 100%;
	line-height: 1.5;
	padding: 1.2em 0;
	font-size: 1rem;
	background: none;
	border: none;
	font-weight: 300;
	text-align: left;
	color: $answer-text-color;

	&[disabled]:not(.question-answer--chosen) {
		color: lighten($answer-text-color, 70%);
	}

	&:not([disabled]):hover, &:not([disabled]):focus {
		background-color: #FFCDC8;
	}
}
.question-answer + .question-answer {
	border-top: 1px solid #DDD;
}

.question-answer--chosen {
	font-weight: 700;
}

.question-answer--wrong {
	color: $wrong-color;
	text-decoration: line-through;
	font-weight: 300;
}

.question-answer--correct {
	font-weight: 700;
	color: $correct-color !important;
}

.question-input {
	border: none;
	border-bottom: 1px solid #AAA;
	padding: 0.5em;
	margin: 1em 0;
	padding: 0.3em;
	outline: none;
}

.question-input[disabled] {
	background-color: transparent;
	color: lighten($answer-text-color, 50%);
}

.question-input--correct[disabled] {
	border-color: $correct-color;
	color: $correct-color;
}

.question-input--wrong[disabled] {
	border-color: $wrong-color;
	color: $wrong-color;
}

.question-submit {
	background: none;
	border: none;
	line-height: 2;
	border-radius: 50%;
	color: $accent-color;
	transition: color 0.3s ease-in-out;
}

.question-submit[disabled] {
	color: lighten($answer-text-color, 50%);
}

.no-question {
	text-align: center;
	padding: 2rem 0 0;
	color: #999;
	text-transform: uppercase;
	font-size: 80%;
}

.no-question__spinner {
	width: 25vw;
	max-width: 200px;
	margin: 1em;
}

.question-solution {
	font-weight: 700;
	color: $correct-color;
}