.question {
	padding: 1rem;
	text-align: center;
}

.question-body {
	line-height: 1.5;
	font-weight: 500;
	padding-bottom: 1rem;
}

.question-answers {
	border-top: 1px solid #AAA;
	margin: 0;
	padding: 0 0.6em;
	list-style: none;
}

.question-answer {
	display: block;
	appearance: none;
	width: 100%;
	line-height: 2.8;
	font-size: 1rem;
	background: none;
	border: none;
	font-weight: 300;

	&[disabled]:not(.question-answer--chosen) {
		opacity: 0.5;
	}

	&:not([disabled]):hover, &:not([disabled]):focus {
		background-color: #FFCDC8;
	}
}
.question-answer + .question-answer {
	border-top: 1px solid #DDD;
}

.question-answer--chosen {
	background-color: orange;
}

.question-answer--wrong {
	background-color: red;
}

.question-answer--correct {
	background-color: green;
}

.no-question {
	text-align: center;
	padding: 5rem 0 0;
	color: #999;
	text-transform: uppercase;
	font-size: 80%;
}

.no-question__spinner {
	width: 25vw;
	max-width: 200px;
	margin: 1em;
}